{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~/assets": "./assets",
          "~/components": "./components",
          "~/layouts": "./layouts",
          "~/redux": "./redux",
          "~/hooks": "./hooks",
          "~/constants": "./constants",
          "~/utils": "./utils",
          "~/wrappers": "./wrappers",
          "~/apis": "./apis",
          "~/config": "./config",
          "~/subcomponents": "./subcomponents"
        }
      }
    ]
  ]
}
