.css-f7i9n1-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 17px !important;
}

.css-12yjm75-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 16px !important;
  font: '' !important;
}

.css-1qqsdnr-MuiAutocomplete-root .MuiAutocomplete-tag{
  display: none !important;
}

.css-i4bv87-MuiSvgIcon-root {
  height: 2rem !important;
}

/* Build Version */

.css-1cnifun {
  font-size: 17px !important;
}

.css-18ua5v9 {
    font-size: 16px !important;
    font: '' !important;
  }

  .css-vubbuv {
font-size: 2.4rem !important;
  }
