@font-face {
  font-family: 'Montreal';
  src: url(../assets/fonts/montreal/PPNeueMontreal-Bold.woff2);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Montreal';
  src: url(../assets/fonts/montreal/PPNeueMontreal-BoldItalic.woff2);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Montreal';
  src: url(../assets/fonts/montreal/PPNeueMontreal-Book.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montreal';
  src: url(../assets/fonts/montreal/PPNeueMontreal-BookItalic.woff2);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Montreal';
  src: url(../assets/fonts/montreal/PPNeueMontreal-Italic.woff2);
  font-style: italic;
}
@font-face {
  font-family: 'Montreal';
  src: url(../assets/fonts/montreal/PPNeueMontreal-Light.woff2);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montreal';
  src: url(../assets/fonts/montreal/PPNeueMontreal-LightItalic.woff2);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Montreal';
  src: url(../assets/fonts/montreal/PPNeueMontreal-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montreal';
  src: url(../assets/fonts/montreal/PPNeueMontreal-MediumItalic.woff2);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Montreal';
  src: url(../assets/fonts/montreal/PPNeueMontreal-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montreal';
  src: url(../assets/fonts/montreal/PPNeueMontreal-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montreal';
  src: url(../assets/fonts/montreal/PPNeueMontreal-SemiBolditalic.woff2);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Montreal';
  src: url(../assets/fonts/montreal/PPNeueMontreal-Thin.woff2);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Montreal';
  src: url(../assets/fonts/montreal/PPNeueMontreal-ThinItalic.woff2);
  font-weight: 100;
  font-style: italic;
}

// Neue Haas Grotesk

@font-face {
  font-family: 'Neue Haas';
  src: url(../assets/fonts/neue/NeueHaasDisplayBlack.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Neue Haas';
  src: url(../assets/fonts/neue/NeueHaasDisplayBlackItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas';
  src: url(../assets/fonts/neue/NeueHaasDisplayBold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Neue Haas';
  src: url(../assets/fonts/neue/NeueHaasDisplayBoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas';
  src: url(../assets/fonts/neue/NeueHaasDisplayMedium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Neue Haas';
  src: url(../assets/fonts/neue/NeueHaasDisplayMediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Neue Haas';
  src: url(../assets/fonts/neue/NeueHaasDisplayRoman.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Neue Haas';
  src: url(../assets/fonts/neue/NeueHaasDisplayRomanItalic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Neue Haas';
  src: url(../assets/fonts/neue/NeueHaasDisplayLight.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Neue Haas';
  src: url(../assets/fonts/neue/NeueHaasDisplayLightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'Neue Haas';
  src: url(../assets/fonts/neue/NeueHaasDisplayThin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Neue Haas';
  src: url(../assets/fonts/neue/NeueHaasDisplayThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}


// PP Monument

@font-face {
  font-family: 'PP Monument';
  src: url(../assets/fonts/pp_monument/PPMONUMENTEXTENDED-BLACK.OTF);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PP Monument';
  src: url(../assets/fonts/pp_monument/PPMONUMENTEXTENDED-BLACKITALIC.OTF);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'PP Monument';
  src: url(../assets/fonts/pp_monument/PPMONUMENTEXTENDED-LIGHTITALIC.OTF);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'PP Monument';
  src: url(../assets/fonts/pp_monument/PPMONUMENTEXTENDED-REGULAR.OTF);
  font-weight: 400;
}
@font-face {
  font-family: 'PP Monument';
  src: url(../assets/fonts/pp_monument/PPMONUMENTEXTENDED-REGULARITALIC.OTF);
  font-weight: 400;
  font-style: italic;
}


// Inter

@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/inter/inter.ttf);
}